# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.301
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Publish NuGet package
      run: |
        dotnet build $GITHUB_WORKSPACE/Yufanbot.Plugin.Common -c Release
        mkdir -p $GITHUB_WORKSPACE/LocalFeed
        cp $GITHUB_WORKSPACE/Yufanbot.Plugin.Common/bin/Release/Yufanbot.Plugin.Common.1.1.3.nupkg $GITHUB_WORKSPACE/LocalFeed/
        dotnet nuget add source $GITHUB_WORKSPACE/LocalFeed --name LocalFeed
    - name: Test
      run: dotnet test --no-build --verbosity normal
